/*
 *      linear-gradient(#F6D8CE, #FA5858),
        linear-gradient(#F8E6E0 0%, #F6E3CE 20%, #FE2E2E 80%, #DF0101 100%),
        linear-gradient(#F8E6E0, #FE2E2E);
        * 
        * red button
        * 
        linear-gradient(#BCF5A9, #64FE2E),
        linear-gradient(#F1F8E0 0%, #D0F5A9 20%, #64FE2E 80%, #01DF01 100%),
        linear-gradient(#ECF8E0, #01DF01);
        * 
        * green button
 */
 
 /* 	yellow button
  *         #2E2E2E,
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
  */

.button{
	-fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 25px;
    -fx-text-fill: lime;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.button:hover{
    -fx-background-color: lime, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 28px;
    -fx-font-weight:bold;
    -fx-text-fill: lime;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.button:pressed{
    -fx-background-color: white;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 31px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.important{
	-fx-background-color: black;
	-fx-text-fill: yellow;
	-fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 25px;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
	
}


.degrad{
	-fx-background-color: yellow;
	-fx-text-fill: black;
	-fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 25px;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.degrad:hover{
    -fx-background-color: black, yellow;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 28px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.degrad:pressed{
    -fx-background-color: black, yellow;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 31px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.degrad:selected{
	-fx-background-color: black, red;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 31px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
	
}

.important{
	-fx-background-color: black;
	-fx-text-fill: yellow;
}

.important:hover{
    -fx-background-color: yellow, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 28px;
    -fx-font-weight:bold;
    -fx-text-fill: yellow;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.degrad:pressed{
    -fx-background-color: yellow, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 31px;
    -fx-font-weight:bold;
    -fx-text-fill: yellow;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.nums{
    -fx-background-color: black, white, white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 25px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}


.nums:hover{
    -fx-background-color: black, white, #eaeaea;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 28px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.nums:pressed{
    -fx-background-color: black, black, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 31px;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.nums Text {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}


.tilePane{
  	-fx-padding: 10, 10, 10, 10;
    -fx-hgap: 4;
    -fx-vgap: 4;
}

.textField{
	-fx-font-size: 80px;
}

.resultLabel{
	-fx-font-size: 35px;
}



