.button{
	-fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-text-fill: lime;
    -fx-font-weight:bold;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
    -fx-focus-color: lime; 
}

.button:hover{
    -fx-background-color: lime, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: lime;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.button:pressed{
    -fx-background-color: white;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.button:focused{
	-fx-background-color: lime, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: lime;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.important{
	-fx-background-color: black;
	-fx-text-fill: yellow;
	-fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
    -fx-focus-color: yellow;
	
}

.important:hover{
    -fx-background-color: yellow, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: yellow;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.important:pressed{
    -fx-background-color: yellow, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: yellow;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.important:focused{
	-fx-background-color: yellow, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: yellow;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}


.nums{
    -fx-background-color: black, white, white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
    -fx-focus-color: black; 
}


.nums:hover{
    -fx-background-color: black, white, #eaeaea;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.nums:pressed{
    -fx-background-color: black, black, black;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}

.nums:focused{
	-fx-background-color: black, white, #eaeaea;
    -fx-background-insets: 1, 5, 3;
    -fx-background-radius: 5, 4, 3;
    -fx-font-family: serif;
    -fx-font-size: 40px;
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);	
}

.nums Text {
    -fx-effect: dropshadow( one-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

.big {
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}

.tilePane{
  	-fx-padding: 10, 10, 10, 10;
    -fx-hgap: 4;
    -fx-vgap: 4;
}

.textField{
	-fx-font-size: 80px;
}

.resultLabel{
	-fx-font-size: 35px;
}



